@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn-bg {
  border-radius: 6px;
  background: var(--Neutral-Neutral-900, #03141a);
}
.nav-bg {
  background: linear-gradient(
    302deg,
    #f8523b 0.82%,
    #fbafa4 40.77%,
    #fff1db 69.99%
  );
}

.hero-bg {
  border-radius: 20px;
  background: linear-gradient(
    302deg,
    #f8523b 0.82%,
    #fbafa4 40.77%,
    #fff1db 69.99%
  );
}
